name: backend_iss

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: denimaul/iss_be
    container_name: iss_be
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./storage:/var/www/html/storage
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
      - APP_KEY=${APP_KEY}
      - DB_HOST=db
      - DB_PORT=3310
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - db

  nginx:
    image: nginx:latest
    container_name: iss_server
    restart: unless-stopped
    ports:
      - "1010:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./:/var/www/html
    depends_on:
      - app
